# Strings

In [39]:
str1 = "Keshav"
str2 = 'Vashishta'
print(str1 +" "+ str2)

Keshav Vashishta

In [40]:
char = 'a'
type(char)

str

In [41]:
print(str1[0])
print(str2[6])

K
h

#### Iteration in String

In [42]:
for chars in str1:
    print(chars)

K
e
s
h
a
v

#### String are Immutable, they can't be changed, we can make a new string and make our variable pointing toward the new string.

In [43]:
str1 = "What is it?"
#str1 variable stores the address value of the string "What is it?"

str1 = "error?"
#Now str1 is storing the address value of the string "error?"
#So the respective strings are same, they can't change insted we make our variable to point to another string.

#### Making quote problem solved in the sentences

In [44]:
str1 = 'This is Keshav's laptop'
#This will give error because python can't find out the closing quote after keshav's v.

SyntaxError: invalid syntax (Temp/ipykernel_4092/3475538524.py, line 1)

In [45]:
#One way to solved it is by using external double quote.
str1 = "This is Keshav's laptop."

#Another way to solve this is by using "\" which say's python that it is not closing quote of the string.
str1 = 'This is Keshav\'s laptop' 
str2 = 'Laptop says "Hello Sir"'

In [46]:
str1 ,str2

("This is Keshav's laptop", 'Laptop says "Hello Sir"')

In [47]:
str1 +" "+ str2

'This is Keshav\'s laptop Laptop says "Hello Sir"'

In [48]:
str1 = (str1 + " " + str2)

In [49]:
str1

'This is Keshav\'s laptop Laptop says "Hello Sir"'

#### To check an compare content of the string

In [50]:
str1 == str2

False

In [51]:
str1 > str2

True

In [52]:
str1 < str2

False

### Split Function

#### Split function return list which contain the parts of the String
It's default split around the whitespace.
We can also define in which we want to split the string.

In [53]:
str1.split()

['This', 'is', "Keshav's", 'laptop', 'Laptop', 'says', '"Hello', 'Sir"']

In [54]:
email = "keshavvashisth123@gmail.com"
emailPartList = email.split('@')
username = emailPartList[0]
username

'keshavvashisth123'

### Replace function

#### We can use replace("want to replace", "what you want to replace with") function.

In [55]:
email = "keshavvashisth123@gmail.com"
print(email)
email.replace("gmail", "ask")
#Replace will not change the original string, it will return a new string.

keshavvashisth123@gmail.com

'keshavvashisth123@ask.com'

### Basic Function

#### Find function will return the index of the substring present in the string.

In [56]:
email.find('gmail')

18

In [57]:
email.lower()

'keshavvashisth123@gmail.com'

In [58]:
email.upper()

'KESHAVVASHISTH123@GMAIL.COM'

In [59]:
email.islower()

True

In [60]:
email.isupper()

False

In [61]:
email.startswith("Ä")

False

In [62]:
# As the name of the method isalpha() in python suggests, we use this method to check if all the characters in a string are alphabets or not.
print(email.isalpha())

string = "abcd"
print(string.isalpha())
#It will all return false if the string contains only alphabet with whitespaces, because whitespace are not alphabet!

False
True

### Problem Question

In [63]:
s = "abcd"
s.upper()
print(s)  
#s.upper() returns a new object and doesn’t make changes in original string object.

abcd

In [64]:
s = "abcd"
print(s + 12)
#You can’t add an integer value to a string. The right way to add will be s + str(12) i.e. convert 12 to string first and then add.

TypeError: can only concatenate str (not "int") to str

### Slicing Funtion

In [65]:
str1 = "this is slicing"
str1[2:5]

'is '

In [66]:
str1[5:10]

'is sl'

In [67]:
#Return the forward values.
str1[2:]

'is is slicing'

In [68]:
#Retrun the values before the index
str1[:4]

'this'

In [69]:
#Return whole string
str1[:]

'this is slicing'

In [70]:
#Here we can define in last section to skip the substring from starting index to end index in between.
#Skip means jump the index value by given number.
str1[0:10:2]

'ti ss'

In [71]:
str1[10:2:-1]
#By using -1 we skip backwards.

'ils si s'

In [72]:
str1[10:0:-1]

'ils si sih'

#### Program to replace a specific character first occurence from the input string.

In [79]:
str1 = input("Enter the word: ")
a = "v"
b = "a"
isPresent = str1.find(a)
output = " "
if isPresent != -1:
    output = str1[:isPresent] + b + str1[isPresent+1:]
output

Enter the word: Keshav Vashishta

'Keshaa Vashishta'

#### Program to replace a specific character all occurence from the input string.

In [80]:
str1 = input("Enter the word: ")
a = 'v'
b = 'a'
output = str1
for index in range(0, len(output)):
    if output[index] == a:
        output = output[ :index] + b + output[index+1: ]
output

Enter the word: keshav Vashishta

'keshaa Vashishta'

#### -1 corresponds to the last index.

In [75]:
str1 = 'hello'
print(str1[-1:])

o

In [76]:
s = "abcdefghi"
s[-3:-1]

#Format: str[start_index: last_index]
# s[-3:-1]
# Here, -3 means it will start from third last element and slice till the last index (-1) but not including it. So it will output “gh”.

'gh'

### Check Palindrome

In [9]:
from sys import stdin


def isPalindrome(string) :
	# Your code goes here
    revStr = ""
    if len(string) == 1:
        return True
    else:
        for words in string:
            revStr = words + revStr
        
        if revStr == string:
            return True
        else:
            return False

#main
string = stdin.readline().strip();
ans = isPalindrome(string)

if ans :
    print('true')
else :
    print('false')

true

### Print all Substrings

In [10]:
str = input()
for index in range(0, len(str)):
    for index2 in range(0, len(str)):
        print(str[index : index2+1])

abc
a
ab
abc

b
bc


c

### ...........................................................................................................................................................................................

# List

In [15]:
list1 = [1, 2, 3]
list2 = list(['Keshav', 'Vashishta', 20])
print(list1, list2)

[1, 2, 3] ['Keshav', 'Vashishta', 20]

In [16]:
list2[0] = ["Vashishtha", "Tyagi", True]
list2

[['Vashishtha', 'Tyagi', True], 'Vashishta', 20]

In [17]:
zeroes = [0 for i in range(10)]
zeroes

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
squares = [(i*i) for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
#Printing the letters from the word
print([i.lower() for i in "KESHAV"])
print([i.upper() for i in "hello_keshav"])

['k', 'e', 's', 'h', 'a', 'v']
['H', 'E', 'L', 'L', 'O', '_', 'K', 'E', 'S', 'H', 'A', 'V']

In [13]:
letters = [chr(i) for i in range(65, 91)]
print(letters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [14]:
tables = [
            [2*i for i in range(1, 11)],
            [3*i for i in range(1, 11)],
            [4*i for i in range(1, 11)],
            [5*i for i in range(1, 11)],
            [6*i for i in range(1, 11)],
            [7*i for i in range(1, 11)],
            [8*i for i in range(1, 11)],
            [9*i for i in range(1, 11)],
            [10*i for i in range(1, 11)]
         ]
tables

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [21]:
nth = int(input("Enter the nth number to find it's table: "))
table = [nth * i for i in range(1, 11)]
table

Enter the nth number to find it's table: 5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [20]:
#It will takes one argument only and then seprate all elements in it.
letter = list("helloKeshavVashishta!")
print(letter)

name = input("Enter your name: ")
lastName = input("Enter you last name: ")
letter = list(["Hello", name, lastName, "!"])
letter

['h', 'e', 'l', 'l', 'o', 'K', 'e', 's', 'h', 'a', 'v', 'V', 'a', 's', 'h', 'i', 's', 'h', 't', 'a', '!']
Enter your name: Keshav
Enter you last name: Vashishtha

['Hello', 'Keshav ', 'Vashishtha', '!']

## Inbuilt List Functions

### Length Functions

In [34]:
#Length function will define the length of the list: len(list_name)
list1 = [1, 2, 3, 4, 5]
len(list1)

5

### Concatenation of two list

In [35]:
list2 = [6, 7, 8]
list1 + list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
list1 + 3

TypeError: can only concatenate list (not "int") to list

In [37]:
#Concatenation make a new list, so the concatenated list are still same.
list1, list2

([1, 2, 3, 4, 5], [6, 7, 8])

### * Operation on list.

In [38]:
#It will increase the number of elements by the number it multiplies.
list1 * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [39]:
#But the original list remain same.
list1

[1, 2, 3, 4, 5]

### Add data to List

#### Append Function.

In [49]:
# list_name.append(element), will append the element to the last of the list
list1.append(6)
list1

[1, 2, 3, 4, 5, 6]

#### Insert Function.

In [52]:
# list_name.insert(index, element), will insert element at a specific index.
if list1[0] != 0:
    list1.insert(0, 0)
list1

[0, 1, 2, 3, 4, 5, 6]

#### Extend Function.

In [56]:
# list_name.extend(data or another list), will add the element to the last of the list.
list1 = [0, 1, 2, 3, 4, 5, 6]
list2 = [7, 8]
list1.extend(list2)

#It will return updated list to which extend function is implied, whereas in concatenation it returns a new listt.
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Delete Data to list

#### Remove Function

In [57]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8]

#list_name.remove(element), it takes element as argument and remove it from list.
list1.remove(8)
list1

[0, 1, 2, 3, 4, 5, 6, 7]

#### POP function

In [58]:
#list_name.pop(index), it take index as argument and remove the element present at index and returns the element.
list1.pop(0)

0

In [84]:
list1

[4, 1, 8, 26, 100, 0, 5, 78]

In [86]:
listN = [123, 'xyz', 'zara', 'abc']

# When we will not give argument to pop function will pop out the last element from list.
listN.pop()

'abc'

#### del function

In [60]:
# del function is python generic keyword which delete the element present at index.
# del list_name[index], but not return the deleted element from list.
del list1[6]
list1

[1, 2, 3, 4, 5, 6]

### SOrt Function

In [62]:
list1 = [4, 1, 8, 26, 100, 0, 5, 78]
list1.sort()
list1

[0, 1, 4, 5, 8, 26, 78, 100]

In [63]:
# But this only sort the heterogenous lists.
list2 = [4, 1, 8, 26, 100, 0, 5, 78, "hello", "Vashishtha"]
list2.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [66]:
list3 = ['x', 'a', 's', 'k', 'hello']
list3.sort()
list3

['a', 'hello', 'k', 's', 'x']

In [69]:
booleanList = [True, False, 0, 1]
booleanList.sort()
booleanList

[False, 0, True, 1, 2, 9, 68, 100]

In [70]:
list4 = [True, False, 0, 1, 97, 54, 3, 9, 2.99, 3.1]
list4.sort()
list4

[False, 0, True, 1, 2.99, 3, 3.1, 9, 54, 97]

### Max Function.

In [71]:
list1 = [4, 1, 8, 26, 100, 0, 5, 78]

#max(list_name) return the max value element present in the list.
max(list1)

100

In [72]:
#But it only works for heterogenous list, not for homogenous.
list2 = [4, 1, 8, 26, 100, 0, 5, 78, "hello", "Vashishtha"]
max(list2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [73]:
list3 = ['x', 'a', 's', 'k', 'hello']
max(list3)

'x'

In [74]:
booleanList = [True, False, 0, 1]
max(booleanList)

True

### Index Function

In [80]:
#list_name.index(element), return the index of the element present in the list.
list1 = [4, 1, 8, 26, 100, 0, 5, 78]
list1.index(26)

3

In [81]:
list1.index(2000)

ValueError: 2000 is not in list

### Reverse A list.

In [26]:
list1 = [4, 1, 8, 26, 100, 0, 5, 78]
list1.reverse()
list1

[78, 5, 0, 100, 26, 8, 1, 4]

### Element in List

In [87]:
list1 = [4, 1, 8, 26, 100, 0, 5, 78]
26 in list1

True

In [88]:
101 in list1

False

### Taking Input in a list

#### First way:

In [3]:
# 5 -> List Size
# 1
# 2
# 3
# 4
# 5
#Then lines after 5 contains elements input.

size = int(input("Enter the size of list: "))
list1 = []
for i in range (size):
    nextEle = int(input("Enter the element for the list: "))
    list1.append(nextEle)
list1

Enter the size of list: 5
Enter the element for the list: 1
Enter the element for the list: 2
Enter the element for the list: 3
Enter the element for the list: 4
Enter the element for the list: 5

[1, 2, 3, 4, 5]

#### Second Way:

In [10]:
# 1 2 3 4 5 -> Contains element in single line.
elements = input("Enter the elements: ")
list1 = elements.split()
print(list1)
newList=[]

#Converting the string list in to integer list.
for ele in list1:
    newList.append(int(ele))
newList

Enter the elements: 1 2 3 4 5
['1', '2', '3', '4', '5']

[1, 2, 3, 4, 5]

In [19]:
print("Types of the following list:\n",type(list1))
print(type(newList),'\n')

print("Types of elements present in list:\n",type(list1[0]))
print(type(newList[0]))

Types of the following list:
 <class 'list'>
<class 'list'>

Types of elements present in list:
 <class 'str'>
<class 'int'>

In [23]:
#The another and shorter way to do it.
list1 = input("Enter the elements").split()
print(list1)
newList = [int(ele) for ele in list1]
newList

Enter the elements1 2 3 4 5
['1', '2', '3', '4', '5']

[1, 2, 3, 4, 5]

In [31]:
#The another shorter way is:
listt = [int(elements) for elements in input("Enter the elements: ").split()]
listt

Enter the elements: 1 2 3 4 5

[1, 2, 3, 4, 5]

#### Third way:

In [32]:
#5 -> list size in first line.
#1 2 3 4 5 -> list elements, in second line.
size = input("Enter the size of the list: ")
listt = [int(elements) for elements in input("Enter the elements: ").split()]
listt

Enter the size of the list: 5
Enter the elements: 1 2 3 4 5

[1, 2, 3, 4, 5]

#### Fourth way:

In [34]:
#5 1 2 3 4 5, whereas the first element is the size of the list and after others are the elements.
listt = [int(elements) for elements in input("Enter the elements: ").split()]
listt.pop(0)
listt

Enter the elements: 5 1 2 3 4 5

[1, 2, 3, 4, 5]

### Print Elements present in the List

In [39]:
listt = [ele for ele in input("Enter the elements for the list: ").split()]
for element in listt:
    print(element)
listt

Enter the elements for the list: 1 2 3 4 5 "Keshav" "Vashishta"
1
2
3
4
5
"Keshav"
"Vashishta"

['1', '2', '3', '4', '5', '"Keshav"', '"Vashishta"']

### Problem
#### Find sum of even and odd numbers present in list.

In [45]:
listt = [int(elements) for elements in input("Enter the elemets for the list: ").split()]

evenSum = 0
oddSum = 0
for nums in listt:
    if nums % 2 == 0:
        evenSum +=  nums
    else:
        oddSum += nums

evenSum, oddSum

Enter the elemets for the list: 1 2 3 4 5 6 7 8 9 10

(30, 25)

#### Swap Alternate

In [1]:
listt = [int(elements) for elements in input("Enter the elemets for the list: ").split()]

for index in range(0, len(listt)-1, 2):
    temp = listt[index]
    listt[index] = listt[index+1]
    listt[index+1] = temp
    
listt

Enter the elemets for the list: 1 2 3 4 5 6 7 8 9 10 11

[2, 1, 4, 3, 6, 5, 8, 7, 10, 9, 11]

#### Equilibirium Index

In [15]:
listt = [int(elements) for elements in input("Enter the elements for the list: ").split()]
print(listt)
isEquillibirium = False
index = 0
for equIndex in range(1, len(listt)-1, 1):
    
    leftSum = 0
    rightSum = 0
    pointer1 = 0
    pointer2 = len(listt)-1
    
    while pointer1 < equIndex:
        leftSum += listt[pointer1]
        pointer1 += 1
        
    while pointer2 > equIndex:
        rightSum += listt[pointer2]
        pointer2 -= 1
        
    if rightSum == leftSum:
        isEquillibirium = True
        index = equIndex
        break

if isEquillibirium: print(index)
else: print(-1)

Enter the elements for the list: 1 -1 4
[1, -1, 4]
-1

### List Slicing

In [16]:
listt = [1, 2, 3, 4, 5, "abc", 26, 0]
listt

[1, 2, 3, 4, 5, 'abc', 26, 0]

In [17]:
listt[0:3]

[1, 2, 3]

In [18]:
listt[4:6]

[5, 'abc']

In [19]:
listt[:4]

[1, 2, 3, 4]

In [21]:
listt[10 : 3 : -1]

[0, 26, 'abc', 5]

In [22]:
listt[:3:-1]

[0, 26, 'abc', 5]

In [23]:
listt[: : -1]

[0, 26, 'abc', 5, 4, 3, 2, 1]

In [25]:
listt[: : -2]

[0, 'abc', 4, 2]

### Multidimensional List

In [28]:
#There is not a such thing like multidimensional list/array like java.
#What we can do is insert list in list as much we want.

In [27]:
listt = [["Keshav Vashishta", 20, 9958983325], ["Ajay Tyagi", 49, 9650194335], ["Shweta Tyagi", 47, 7982288157]]
listt

[['Keshav Vashishta', 20, 9958983325],
 ['Ajay Tyagi', 49, 9650194335],
 ['Shweta Tyagi', 47, 7982288157]]

In [29]:
#this is also 2 dimensional list.
listt = [1, 2, 3, ["a", "b", "c"]]
listt

[1, 2, 3, ['a', 'b', 'c']]

In [40]:
listt = [[1, 2, 3], ["a", "a", "s", "k"], [True, False]]

#Finding the elements of the list
print("The first element from the list is: ", listt[0])
print("The second element from the list is: ", listt[1])
print("The third element from the list is: ", listt[2])

#Finding the types of inner list conatin in it.
print(type(listt[0]))
print(type(listt[1]))
print(type(listt[2]), "\n")

#Finding the element of list contains in list.
print("The first element from the list is: ", listt[0][0])
print("The second element from the list is: ", listt[1][0])
print("The third element from the list is: ", listt[2][0])

#Finding the types of elements contain in list within the main list.
print(type(listt[0][0]))
print(type(listt[1][0]))
print(type(listt[2][0]), "\n")

#Finding the length of the list.
print("The length of the list is: ", len(listt))

#Finding the length of the innner list.
print("The length of the first list in main list is: ", len(listt[0]))
print("The length of the second list in main list is: ", len(listt[1]))
print("The length of the thord list in main list is: ", len(listt[2]))

The first element from the list is:  [1, 2, 3]
The second element from the list is:  ['a', 'a', 's', 'k']
The third element from the list is:  [True, False]
<class 'list'>
<class 'list'>
<class 'list'>

The first element from the list is:  1
The second element from the list is:  a
The third element from the list is:  True
<class 'int'>
<class 'str'>
<class 'bool'>

The length of the list is:  3
The length of the first list in main list is:  3
The length of the second list in main list is:  4
The length of the thord list in main list is:  2

In [48]:
#This is multidimensional list.
listt3d = [
            [["Keshav", "Vashishta"], [20], ["Shweta Tyagi"], ["Ajay Tyagi"], [9958983325]],
            [["Badi Maa", "Paa", "Maa", "Didu"],["Tarun", "Ujjwal"]],
            [["I'm Iron Man: "], [True]]
          ]
listt3d

[[['Keshav', 'Vashishta'],
  [20],
  ['Shweta Tyagi'],
  ['Ajay Tyagi'],
  [9958983325]],
 [['Badi Maa', 'Paa', 'Maa', 'Didu'], ['Tarun', 'Ujjwal']],
 [["I'm Iron Man: "], [True]]]

In [47]:
lenList = [len(listt3d), len(listt3d[0]), len(listt3d[2]), len(listt3d[1][0])]
lenList

[3, 5, 2, 4]

#### Take input of multidimensional list:

In [49]:
#First way
#5, 3 -> (m*n) whereas the m is size of the main list and n is the elements contain in inner list.
#[ ]
#[ ]
#.
#.
#[ ]

sizes = input("Enter the size of m and n: ").split()
m = int(sizes[0])
n = int(sizes[1])
listt = []
for row in range(m):
    row_list = [int(colEle) for colEle in input("Enter the ", row+1, "row list elements: ").split()]
    listt.append(row_list)
listt

Enter the size of m and n: 3 4
Enter the {row+1} row list elements: 1 2 3 4
Enter the {row+1} row list elements: 5 6 7 8
Enter the {row+1} row list elements: 9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [51]:
#Second way
#5, 3 -> (m*n) whereas the m is size of main list and n is the elements contains in inner list.
#Following lines conatins elements of the for the inner list.

sizes = input("Enter the size of m and n: ").split()
m = int(sizes[0])
n = int(sizes[1])
listt = []
for row in range(m):
    row_list = []
    for col in range(n):
        row_list.append(int(input()))
    listt.append(row_list)
    print("\n")
listt

Enter the size of m and n: 3 4
1
2
3
4


5
6
7
8


9
10
11
12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [56]:
#Third way.
#5, 3 -> (m*n)
#[all elements of whole list]

sizes = input("Enter the size of m and n: ").split()
m = int(sizes[0])
n = int(sizes[1])
list_1D = [int(ele) for ele in input("Enter all the elements: ").split()]
print(list_1D)
listt = []

for row in range(m):
    start_Index = n * row
    end_Index = n * (row+1)
    next_row = list_1D[start_Index : end_Index]
    listt.append(next_row)
listt

Enter the size of m and n: 3 4
Enter all the elements: 1 2 3 4 5 6 7 8 9 10 11 12 13
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

### What is the output?

In [57]:
A = [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ]
print([A[i][i] for i in range(len(A))])

[1, 5, 9]

### Slicing in 2D List.

In [8]:
A = [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ]
print("Getting the first row list sliced from the 2D List: ", A[:1])
print("Getting the first and second row list sliced from the 2D List: ", A[:2])
print("Getting the first and third excluding the second row list sliced from the 2D List: ", A[ :  : 2])
print("Getting the row list from the bottom to up the 2D List: ", A[ : : -1])

Getting the first row list sliced from the 2D List:  [[1, 2, 3]]
Getting the first and second row list sliced from the 2D List:  [[1, 2, 3], [4, 5, 6]]
Getting the first and third excluding the second row list sliced from the 2D List:  [[1, 2, 3], [7, 8, 9]]
Getting the row list from the bottom to up the 2D List:  [[7, 8, 9], [4, 5, 6], [1, 2, 3]]

### For loop in 2D List

In [10]:
listt = [[1, 2, 3] for lists in range(10)]
listt

[[1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3]]

In [13]:
listt = [[columns for columns in range(1, 11)] for rows in range(10)]
listt

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [19]:
pattern_List = [["@" for col in range(5)] for row in range(5)]
pattern_List

[['@', '@', '@', '@', '@'],
 ['@', '@', '@', '@', '@'],
 ['@', '@', '@', '@', '@'],
 ['@', '@', '@', '@', '@'],
 ['@', '@', '@', '@', '@']]

In [30]:
listt_3d = [[[["3D"] for k in range(5)] for j in range(5)] for i in range(5)]
listt_3d

[[[['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']]],
 [[['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']]],
 [[['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']]],
 [[['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']]],
 [[['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']],
  [['3D'], ['3D'], ['3D'], ['3D'], ['3D']]]]

### Problem
#### Finding Column Sum

In [3]:
#Taking input.
# m->rows, n->columns.
sizes = input("Enter the size of rows and columns: ").split()
rows = int(sizes[0])
columns = int(sizes[1])
listt = []
for row in range(rows):
    row_list = [int(colEle) for colEle in input("Enter the list elements: ").split()]
    listt.append(row_list)
listt

#Finding the sum
for col in range(columns):
    sum = 0
    for row in range(rows):
        sum += listt[row][col]
    print("The sum of column ",(col+1), " is: ", sum)

Enter the size of rows and columns: 5 5
Enter the list elements: 1 2 3 4 5
Enter the list elements: 6 7 8 9 10
Enter the list elements: 11 12 13 14 15
Enter the list elements: 16 17 18 19 20
Enter the list elements: 21 22 23 24 25
The sum of column  1  is:  55
The sum of column  2  is:  60
The sum of column  3  is:  65
The sum of column  4  is:  70
The sum of column  5  is:  75

In [11]:
for nums in range(1, 151):
    print(nums)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150